body {
  position: relative;
  margin: 0 auto;
}

#section1 {
  padding-top:100px;
  padding-bottom:10px;
  color: #fff; 
  background-color: #2b333e;
}

.left {
  width: 48%;
  float: left;
  padding-left: 3%;
}

.right {
  width: 48%;
  float: right;
  padding-right: 3%;
}

#smicon {
  float: right;
  padding: 10px 10px 10px 10px;
}

#section1b {
  padding-top:0px;
  padding-bottom:20px;
  color: #fff; 
  background-color: #2b333e;
}

#section2 {
  padding-top:30px;
  padding-bottom:50px;
  color: #fff; 
  background-color: #d4d6d8;
}

#section3 {
  padding-top:30px;
  padding-bottom:50px;
  color: #fff;
  background-color: #cc7900;
}
